.imag {
    height: 50px;
    width: 150px;
    padding-left: 0em;
}
.navbar {
    background-color: rgb(34, 34, 34) !important;
}
.nav-link {
    color: white !important;
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
}
.nav-item {
    text-align: right !important;
    margin-left: 0px;
}
.form-control {
    width: 150px !important;
    margin-left: 15px;
    padding: 10px;
}
.ss {
    font-size: 15px;
    
}
.fa-shopping-cart {
    font-size: 20px !important;
    padding: 0px 10px 0px 0px;
}
.fa-user {
    font-size: 20px !important;
    padding-left: 10px;
}




h3 {
    color:white;
    font-size: larger;
}
.maincard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(218, 216, 216);
    height: 200px;
}
.fa-truck, .fa-phone, .fa-usd, .fa-suitcase {
    font-size: 50px !important;
    margin-right: 10px;
    color: white !important;
}
.card1 {
    display: flex;
    width: 290px;
    height: 100px;
    background-color: rgb(11, 82, 11);
    justify-content: center;
    align-items: center;
    

}
.card2 {
    display: flex;
    width: 290px;
    height: 100px;
    background-color: rgb(6, 167, 6);
    justify-content: center;
    align-items: center;
    
    
}
.card3 {
    display: flex;
    width: 290px;
    height: 100px;
    background-color: rgb(11, 226, 11);
    justify-content: center;
    align-items: center;
    
    
}
.card4 {
    display: flex;
    width: 290px;
    height: 100px;
    background-color: rgb(247, 191, 8);
    justify-content: center;
    align-items: center;
    
    
}

@media screen and (max-width: 600px) {
    .card1, .card2, .card3, .card4 {
        width: 100%;
        margin-top: 30px;
    }
}
@media screen and (max-width: 1039px) {
    .card1, .card2, .card3, .card4 {
        
        margin-top: 30px;
    }
}
@media screen and (max-width: 1039px) {
    .maincard {
        height: 300px;
        
    }
}


.imagerow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.imagecol {
    margin: 0px -15px 0px 0px;
}
.img1, .img2, .img3 {
    height: 300px;
    width: 420px;   
    
}
@media screen and (max-width: 871px) {
    .img1, .img2, .img3 {
        width: 260px;
        height: 200px;
        
    }
}

/* top categories */

.topcategories {
    
}
.heading {
    height: 70px;
    width: 350px;
    background-color: rgb(247, 191, 8);
    border-radius: 50px;
    margin-left: 30px;
    margin-top: 60px;
    
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    font-weight: bold;
    padding-top: 23px;
    padding-left: 30px;
    
}
.imager {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0px 50px 0px;
}
.images1 {
    border: 2px solid green;
    padding: 15px;
    border-radius: 100px;
}
.i {
    border-radius: 60px;
}
@media screen and (max-width: 600px) {
    .topcategories {
        margin-top: 300px;

    }
}

contactportion
.contactportion {
    display: flex;
    flex-direction: row;
    background-color: hotpink !important;
    height: 700px;
    

}
.noone {
    background-color: pink;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* firstdiv */

.rowi {
    height: 50px;
    width: 100px;
}
.fa-map-marker {
    color: white;
}
h6 {
    color: green;
}
h3 {
    color: green;
    font-size: larger;
}


/* contactportion/Form */
.col {
    line-height: 15px;  
}
.form-row {
    margin-right: 910px;
    
}
.pak {
    width: 329px !important;
    background-color:  rgb(34, 34, 34) !important;
}
.paks {
    width: 329px !important;
    padding-left: 10px !important;
     
}
.ppaks {
    width: 329px !important;
    margin-left: 25px; 
}
.form-control {
    background-color:  rgb(34, 34, 34) !important;
}
/* @media screen and (max-width: 1039px) {
    .card4 {
        margin-top: -20px;

    }
}
@media screen and (max-width: 882px) {
     .card3,  {
        
        margin-top: -30px; */

    }
}

/* cform */

h3 {
    color:white;
    font-size: larger;
}
.maincardss {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
}
.fa-truck, .fa-phone, .fa-usd, .fa-suitcase {
    font-size: 50px !important;
    margin-right: 10px;
    color: white !important;
}
.card11 {
    
    width: 310px;
    height: 350px;
    background-color:  rgb(34, 34, 34);
    justify-content: center;
    align-items: center;
    

}
.ci {
    height: 70px;
    width: 130px;
}
.card111 {
    padding-top: 20px;
    padding-left: 20px;
}

.card22 {
    display: flex;
    width: 290px;
    height: 50px;
    
}
.txtclr {
    color: white;
    font-weight: 400;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}

.txthead {
    color: green;
    font-weight: 400;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0px 0px 10px;
}
.card33 {
    
    width: 290px;
    height: 350px;
    background-color: rgb(34, 34, 34);
    justify-content: center;
    align-items: center;
    
    
}
.positionsecond {
    padding-top: 25px;
}
.card44 {
    
    width: 290px;
    height: 350px;
    background-color: rgb(34, 34, 34);
    
    
    
}
.card55 {
    
    width: 370px;
    height: 350px;
    background-color: rgb(34, 34, 34); 

}
.formpos {
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    .card11, .card33, .card44, .card55 {
        width: 100%;
        margin-top: 30px;
    }
}
/* @media screen and (max-width: 1039px) {
    .card1, .card2, .card3, .card4 {
        
        margin-top: 30px;
    }
}
@media screen and (max-width: 1039px) {
    .maincard {
        height: 300px;
        
    }
} */

.kkk {
    height: 50px;
    width: 100%;
    background-color: black;
}
.jjj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    flex-wrap: wrap;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: rgb(224, 224, 224);
}


/* meat  /  cards */

.fruitsveg {
    margin-top: 60px;
}
.card {
    width: 240px;
    height: auto;
    margin-bottom: 100px;
    box-shadow: 0px 0px 10px yellow;
}
.card-title {
    text-align: center;
}
.card-text {
    text-align: center;
}
.btn-outline-warning{
    width: 100%;
}

